<%- include("header") -%>

  <body>
    <h1 class="heading">TaskMate</h1>
    <div class="box" id="heading">
      <h1> <%= title %> </h1>
    </div>

    <div class="box">
        <% for(var i = 0; i < newItem.length; i++){ %>
          <div class="item">
            <input type="checkbox" name="check" value=<%= newItem[i] %>>
            <p> <%= newItem[i] %> </p>
            <form class="remove" action="/" method="post">
              <button class="removeButton" type="submit" name="listRemove" value=<%= newItem[i] %> >-</button>
            </form>
          </div>
        <% } %>

        <form class="item" action="/" method="post">
          <input type="text" name="work" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value=<%= title %> >+</button>
        </form>
    </div>

  </body>

  <%- include("footer") -%>
